.vistas{
    background-color: orange;
    text-align: center;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4px;
    flex-grow: 2;
}

.lista{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/* .tabla{
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    display: block;
} */
