<div>

  <div class="modal1 modal1 modal-header">
    <h4 class="modal-title"> {{isAddMode? 'Agregar nuevo auto' : 'Editar un auto'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label for="marca"><b>Marca</b></label>
      <input id="marca" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="submarca"><b>Submarca</b></label>
      <input id="submarca" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="descripcion"><b>Descripcion</b></label>
      <input id="descripcion" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="modelos"><b>Modelos</b></label>
      <input id="modelos" type="text" class="form-control">
    </div>

  </div>

  <div class="footerModal modal-footer">
    <button class="boton btn btn-success">Agregar</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
  </div>

</div>